*{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: #0C0F14;
    align-items: center;

}
.nav-links{
    display: flex;
    padding: 15px;
    column-gap: 20px;

}

.links a{
    text-decoration: none;
    color:#BA9B45;
    opacity: 0.7;
}
.header h1{
    color:#BA9B45;
    padding: 15px;
}

.links a:hover{
    text-decoration: underline;
    opacity: 100%;
}
.toggle{
    padding: 15px;
    color:#BA9B45;
    display: none;
    cursor: pointer;
}
.side-nav{
    background-color: #0C0F14;
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0%;
    left: -300px;
    transition: 1.0s;
}
.side-nav-links{
    padding: 10px;
}
.side-nav-links p{
    margin-top: 30px;

}
.side-links a{
    text-decoration: none;
    color: #BA9B45;
    font-size:20px ;
}
.side-links a:hover{
    text-decoration: underline;
}
.cont{
    display: flex;
    padding: 20px;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.box{
    width: 25%;
    background-color: white;
    border: solid #BA9B45 2px;
    padding: 15px;
    border-radius: 4px;
}
.box:hover{
    cursor: pointer;
}
.ac-name{
    padding: 20px;
    margin-top: 15px;
    display: flex;
}
.log{
    display: none;
}


.footer{
    background-color: #0C0F14;
    color: snow;
    margin-top: 30px;
}
.foot-head{
   padding: 15px;

}
.foot-icons{
    padding: 15px;
}
.foot-bot{
    padding: 15px;
}
.footer-short{
    display: none;
}


















/* 
media queries */

@media screen and (max-width:700px){
    .toggle{
        display: block;

    }
    .nav-links{
        display: none;
    }
    .box{
        width: 40%;
    }
    .log{
        padding: 20px;
        display: flex;
        justify-content: center;
    }
    .log button{
        background-color:#BA9B45;
        border: none;
        color: white;
        padding: 15px;
        width :100%;
        border-radius: 4px;
    
    }
    .log button:hover{
        background-color:#0C0F14;
        border: none;
        color:#BA9B45;
        cursor: pointer;
    
    }
    .cont{
        display: flex;
        padding: 20px;
        justify-content: space-around;
        gap: 20px;
        flex-wrap: wrap;
    }
    
    .box{
        width: 20%;
        background-color: white;
        border: solid #BA9B45 2px;
        padding: 15px;
        border-radius: 4px;
    }

    .footer-long{
        display: none;
    }
    .footer-short{
        display: block;
    }

}

